<div class="conteiner">
    <h1>About</h1>
</div>

<article id="post" class="clearfix">
    <div class="entry clearfix">	
        <p><strong>getContext()</strong> permite comparar datos del sector, industria o rubro, teniendo en cuenta factores tales como el tamaño de la empresa o su alcance. Los distintos módulos de información se habilitan compartiendo información de diversas maneras (conectando redes sociales, respondiendo preguntas de nuestros expertos, o subiendo materiales para analizar).</p>
<p>La información es validada de distintas maneras y anonimizada. <strong>getContext() </strong>incluye también datos de otras fuentes (datos abiertos, investigaciones, etc.). La información se encuentra documentada. La metodología se discute en los foros.</p>
<p><strong>getContext() </strong>muestra publicidad personalizada y sugiere links a contenidos externos, así como también a nuestro propio blog.</p>
<p>El uso es libre y gratuito para los usuarios. <strong>getContext() </strong>considera que los dueños de los datos son los usuarios.</p>
    </div><!-- .entry -->
</article>