<hr>

<br>

<h3>
  Posición en costos de servicio
</h3>

<p>
  <strong>Descripción:</strong> Analisis situado de la posición del cliente entre el menor y el mayor de la muestra<br />
  <strong>Info de la muestra:</strong> Muestra constituida con N casos del sector/industria generada el 2018-10-31 18:42:40. <a href='#'>Foro de nuestra metodología</a>
</p>

<div id="div1">
    <div style="display: block">
      <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
    </div>
  </div>