<app-nav-menu></app-nav-menu>

<div id="modulo">
    <h1>Tecnologías y Servicios</h1>
    
    <div class="explainer">
    Esta pantalla muestra los graficos y la info de cada módulo. Para ver algunos graficos es necesario contribuir datos. <br/>
    Las muestras de los graficos se construyen a partir de datos de los usuarios (ya sea por data entry o por importación de algún perfil o red social) y otras fuentes (investigaciones, datos publicos, etc.). Los datos pasan por distintos tipos de filtros de validación o verificación, además de ser anonimizados. 
    </div>

    <br>
    <hr>
    <br>

    <h2>Prueba de paso de datos</h2>

    <!--
        AQUÍ, DENTRO DEL SELECTOR DEL COMPONENTE HIJO EN EL HTML DEL COMPONENTE
        PADRE, SE MANDAN LOS DATOS QUE POBLARÁN LAS PROPIEDADES DEL COMPONENTE
        HIJO.
        - Con los corchetes le decimos a angular que lo que pasamos es un objeto. 
        - En corchetes va el nombre del objeto del componente hijo.
        - En comillas el nombre del objeto dle componente padre que tiene los datos
        para el objeto del componente hijo. 
    -->
    <app-graf1 [graficoInput]="graficoParent"></app-graf1>


</div>