<app-nav-menu></app-nav-menu>

<div id="modulo">
    <h1>Costos operativos</h1>
    
    <div class="explainer">
    Esta pantalla muestra los graficos y la info de cada módulo. Para ver algunos graficos es necesario contribuir datos. <br/>
    Las muestras de los graficos se construyen a partir de datos de los usuarios (ya sea por data entry o por importación de algún perfil o red social) y otras fuentes (investigaciones, datos publicos, etc.). Los datos pasan por distintos tipos de filtros de validación o verificación, además de ser anonimizados. 
    </div>

    <app-co-bar-chart></app-co-bar-chart>

    <app-co-line-chart></app-co-line-chart>

    <app-co-radar-chart></app-co-radar-chart>
</div>