

<div id="modulos">
    <h1>Modulos</h1>
    
      <div class="explainer">
      Esta es la pantalla inicial. Muestra los distintos modulos de información para la industria/rubro/tipo de empresa.
      </div>
    
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" routerLink="/costos-operativos">Costos Opetativos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tecnologias-servicios">Tecnologías & Servicios </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/analisis-seo">Análisis Web /SEO </a>
          </li>
        </ul>
    
    </div>

    <br>
    <br>